
// START Customized SCSS

// .dark .btn-primary,
// .dark .btn.btn-primary.active {
//   color: #fff;
// }

.docs-content {
  background-color: #000;
}

button.docs-toggle:hover, button.docs-toggle:focus{
  color: #ffc107
}

// body {
//   font-weight: 500;
// }

h1, h2, h2 a, h3, h4, h5, h6 {
  font-weight: 700;
}

mark {
  background: rgba(253,126,21,0.5) !important;
}
.navbar-brand {
  padding: 0.3rem;
}


//END Customized SCSS

// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}
