
// .dark .btn-primary,
// .dark .btn.btn-primary.active {
//   color: #fff;
// }

button .docs-toggle.collapsed{
  color: #ffc107!important
}

// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

.navbar-brand {
  margin: 1rem;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}
