
// START Customized SCSS

.dark .btn-primary,
.dark .btn.btn-primary.active {
  color: #fff;
}

// .docs-content {
//   background-color: #000;
// }

button.docs-toggle, .dark button.docs-toggle {
  color: inherit !important;

  &:hover, &:focus {
    color: inherit !important;
  }
}
// .dark .docs-toc-link {
//   color: #ffc107 !important;
//   opacity: 0.9;
// }
// body {
//   font-weight: 500;
// }
footer a  {
  color:  inherit !important;
}

h1, h2, h2 a, h3, h4, h5, h6, .section-subheading {
  font-weight: 700;

  .dark & {
    opacity: 0.9;
  }
}
p, li {
opacity: 0.9;
}

mark {
  // Regular background color
  background: rgba(255, 193, 151, 0.88) !important;

  // Dark mode background color
  .dark & {
    background: rgba(111, 66, 193, 0.6) !important;
  }
}

.navbar-brand {
  padding: 0.35rem;
  opacity: 0.9;
}

.theme-dropdown, li .anchorjs-link {
  display: none !important;
}

//END Customized SCSS

// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}
