<div id="btn_office-hours">
  <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
  <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
  <script>
  (function() {
    var target = document.currentScript;
    window.addEventListener('load', function() {
      calendar.schedulingButton.load({
        url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ21Ct_COSRnR8bsN5UZe_nb0RjLjkg5-yrxsRcoi4qqDpmK4SYPYU-QB__IiDhy80yDxcgxmryw?gv=true',
        color: '#ef525b',
        label: "我要預約時間",
        target,
      });
    });
  })();
  </script>
</div>